absl-py==0.13.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831763871/work
chardet==4.0.0
charset-normalizer==2.0.3
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1616769514516/work
dataclasses==0.8
fsspec==2021.7.0
future==0.18.2
google-auth==1.33.1
google-auth-oauthlib==0.4.4
grpcio==1.38.1
idna==3.2
idna-ssl==1.1.0
importlib-metadata==4.6.1
joblib==0.14.1
jsonpointer==2.0
Markdown==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict==5.1.0
numpy==1.18.1
oauthlib==3.1.1
olefile==0.46
packaging==21.0
pandas==1.1.5
Pillow==8.3.1
prefetch-generator==1.0.1
prettytable==2.1.0
protobuf==3.17.3
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyDeprecate==0.3.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
PySocks @ file:///C:/ci/pysocks_1605305839978/work
python-dateutil==2.8.2
pytorch-lightning==1.3.8
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn @ file:///C:/ci/scikit-learn_1622739439730/work
scipy==1.4.1
selenium @ file:///C:/ci/selenium_1614268400261/work
six @ file:///C:/ci/six_1605201745795/work
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl @ file:///tmp/build/80754af9/threadpoolctl_1626115094421/work
torch==1.4.0
torchkeras==2.1.2
torchmetrics==0.4.1
tornado==6.0.4
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wcwidth==0.2.5
websocket-client @ file:///C:/ci/websocket-client_1602006645939/work
Werkzeug==2.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306197271/work
wincertstore==0.2
yarl==1.6.3
zipp==3.5.0
